body {
    font-family: sans-serif;
  }
  #container {
    width: 500px;
    margin: 0 auto;
  }
  form {
    margin-bottom: 10px;
  }
  input[type="file"] {
    display: block;
    margin-bottom: 10px;
  }
  input[type="submit"] {
    display: block;
    margin-bottom: 10px;
  }
  #progress-bar {
    width: 100%;
    height: 10px;
    background-color: #ccc;
  }
  #status {
    margin-top: 10px;
  }